/*
Color schemes:
Main 
color: #84C7C1

Shades
 #79B8B2
color: #689E9A
color: #4F7874
color: #253837

Alt:
#A3F7C1
#269188
#F8669E
#C46EBA

*/
.hide{
    display:none;
}
body main #formContainer{
    margin-bottom: 0px;
}
body #headerDiv{
margin: 0px;
}

body   .collection .collection-item:last-child {
    border-top: 1px solid #e0e0e0;
}
body .relative{
    position:relative;
}

.parallax-container{
    min-height: 72%;
}
body > header > nav > div > div > a.brand-logo{
    white-space: nowrap;
} 

/*no mobile*/
@media only screen and (min-width: 600px)  {
    body .relative.card.horizontal{
    right:0;
    }
    body main .card.horizontal{
        position:absolute;
    }
    body main .specialRow{
        display:flex;
        justify-content: flex-end;
    }
}
/*Mobile only*/
@media only screen and (max-width: 600px)  {
    body .switch.right{
        float: left !important;
    }
    body .row.right.relative{
        float:left!important;
    }

}